.main-article {
  margin-bottom: 1rem;
  &__content {
    align-items: center;
    display: flex;
  }
  &__title {
    margin-bottom: 0;
    padding: .469em .469em .282em;
  }
  &__video {
    margin-bottom: 1em;
  }
  &__audio-player {
    float: right;
    margin-right: 3.4rem;
    margin-left: auto;
    &:hover {
      cursor: pointer;
    }
  }
  &__picture {
    position: relative;
    float: left;
    height: 10rem;
    margin-right: 1.25em;
    margin-bottom: .625em;
    width: 10rem;
  }
  &__description {
    text-align: justify;
  }
  &__info {
    justify-content: flex-end;
  }
}
.picture {
  &:hover &__img,
  &:active &__img {
    background-color: #05c3c3;
  }
  &__img {
    height: 100%;
  }
  &__actions {
    position: absolute;
    bottom: .3em;
    right: .3em;
    padding: 0 .312em;
    border-top-left-radius: .25em;
    background-color: #d9edf7;
  }
}
.show-gallery {
  color: #054d50;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}
.info-panel {
  &__infographics {
    text-align: left;
  }
}