/* Effect 4: bottom border enlarge */
.cl-effect-4 .btn__text {
  padding: 0 0 0.125em;
  position: relative;
}

.cl-effect-4 .btn__text::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0.063em;
  background: #054d50;
  content: '';
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-0.625em);
  -moz-transform: translateY(-0.625em);
  transform: translateY(-0.625em);
}

.cl-effect-4 .btn__text:hover::after,
.cl-effect-4 .btn__text:focus::after {
  height: 0.188em;
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}