.comment {
  align-items: center;
  display: flex;
  margin: 1rem 0;
  .user__avatar {
    height: 2.188rem;
    width: 2.188rem;
  }
  .user__name {
    color: #05c3c3;
    font-size: .875rem;
    margin: 0 1rem;
  }
  &__play-button {
    height: 2.188rem;
    width: 2.188rem;
  }
  &__audio-player {
    float: right;
    margin-right: 4.5rem;
    margin-left: auto;
    &:hover {
      cursor: pointer;
    }
  }
}