.images-carousel {
  height: 73vh;
  .slide {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 73vh;
  }
  .slide img {
    max-height: 73vh;
    width: auto;
  }
}