.article-card {
  margin-bottom: 1.25em;
  border: 1px solid #f0f0f0;
  border-radius: 0;
  &:hover {
    border: 1px solid $teal;
  }
  &__heading {
    align-items: center;
    background-color: #000;
    display: flex;
    height: 11.5em;
    justify-content: center;
    position: relative;
    overflow: hidden;
    &:hover .article-card__main-img {
      transition: all .8s;
      opacity: .7
    }
    &:hover .article-card__title {
      text-decoration: underline;
    }
    &--no-image {
      background-color: #fff;
    }
  }
  &__main-img {
    border-radius: 0;
    min-height: 6em;
    max-height: 11.5em;
    max-width: 100%;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    &:hover {
      -webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -o-transform: scale(1.3);
    }
  }
  &__title {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    padding: .625em;
    font-size: 1em;
    line-height: 1.25em;
    color: #fff;
    &--no-image {
      position: relative;
      color: #000;
    }
  }
  &__category {
    margin-bottom: .769em;
    font-size: .812em;
    line-height: 1.125rem;
    background-color: #d9edf7;
  }
  &__content {
    padding: 0 .875em .875em;
  }
  &__city {
    font-size: .875em;
    color: #ff5b5b;
    &:hover,
    &:active,
    &:focus {
      color: #ff5b5b;
    }
  }
  &__author {
    display: flex;
  }
  &__info {
    margin-top: .875em;
  }
}