.profile {
  /*background: url("./profile-left-bg.jpg");*/
  height: 100vh;
  background-color: #d1cfda;
  &__info {
    height: 100vh;
    background-color: #839091;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  }
  &__close-profile {
    margin-top: .625em;
    margin-left: -.937em;
    padding: .375em .625em;
    border-radius: 0;
    background-color: #849192;
    color: #fff;
    &:hover,
    &:active,
    &:focus {
      color: #fff;
    }
    &:hover .close-profile__text {
      display: inline;
    }
  }
  &__auth {
    max-width: 36.25em;
    margin: 1.25em auto 0;
  }
}
.close-profile {
  &__text {
    display: none;
    font-size: .875em;
  }
}
.auth {
  &__methods {
    font-size: .875em;
    color: #333;
  }
  &__method {
    padding: .562em;
    font-size: 1.286em;
    color: #888;
  }
  &__mail-toggle {
    &:focus {
      color: #888;
    }
    &:hover,
    &:active,
    &.active {
      color: $teal;
    }
  }
}
.mail {
  &__item {

    &:not(:last-child) {
      margin-right: 1.875rem;
    }
  }
}
.profile__info-header {
  box-shadow: 0 1px 9px rgba(255, 255, 255, 0.5);
  background: #fafafa;
  margin: 0 -1em;
  padding: 1em 0;
}
.profile__info-main {
  margin: 1em -1em;
  .panel-body {
    padding: 1em;
  }
  .collapse.in {
    display: block;
  }
  .alert {
    margin-bottom: 0;
  }
}
.profile__tab-panel {
  color: #fff;
  text-transform: uppercase;
  padding: 1em;
  width: 11.25em;
  &--selected {
    background: #fff;
  }
}
.tab-panel__badge {
  background-color: #fff;
  border-radius: .5em;
  color: #0512c3;
  line-height: 1.5em;
  padding: .125em .375em;
  width: 1.75em;
}
.user {
  &__info {
    color: #808080;
    font-size: 1em;
    font-weight: 500;
    line-height: 2em;
  }
  &__name {
    color: #3054a8;
    font-size: 1.4em;
    font-weight: 400;
  }
  &__avatar {
    align-items: center;
    display: flex;
    height: 10rem;
    justify-content: center;
    width: 10rem;
    &-img {
      height: auto;
      width: 100%;
    }
  }
}
