.rubrificator {
  overflow: hidden;
  margin-bottom: 1.25rem;
  max-width: 14rem;
  margin: 0 -1rem 6rem;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
  }
  &__btn {
    background: transparent;
    border: none;
    line-height: 1.5em;
    text-align: left;
    padding-left: 0;
    width: 100%;
    &--active {
      background: #fff;
      border: none;
      line-height: 1.5em;
      text-align: left;
      padding-left: 0;
      width: 100%;
      &:hover {
        & .btn__text::after {
          display: none;
        }
      }
    }
  }
  .btn {
    &__img-container {
      float: left;
      margin-left: 1rem;
      width: 1.563rem;
    }
    &__text {
      color: #054d50;
      font-weight: 500;
      margin-left: 1rem;
    }
  }
}