.top-bar {
  background-color: #d9edf7;
  display: flex;
  padding: .5694em 1.25em;
  &__about {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.001em;
    &:hover,
    &:active,
    &:focus {
      color: $light-gray;
    }
  }
  &__link {
    display: flex;
    margin-left: 1.21em;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
  &__logo {
    height: 3.757em;
  }
  &__social-sign {
    padding: .313em .625em;
    position: absolute;
    text-align: center;
    top: .25em;
  }
  &__user-avatar {
    max-width: 4rem;
  }
  &__subscribed {
    position: relative;
  }
  .log-out {
    position: absolute;
    top: 0;
  }
  .status-bar {
    display: flex;
    margin-left: auto;
    position: relative;
    width: 9rem;
  }
  .notifications {
      bottom: .5rem;
      position: absolute;
      left: 5.5rem;
      width: 2rem;
    }
  .social-sign {
    &__fade-in {
      right: 1rem;
      -webkit-transition: right 1s ease-in 0.5s;
      -moz-transition: right 1s ease-in 0.5s;
      -o-transition: right 1s ease-in 0.5s;
      transition: right 1s ease-in 0.5s;
    }
    &__fade-out {
      right: -10rem;
      -webkit-transition: right 1s ease-out 0.5s;
      -moz-transition: right 1s ease-out 0.5s;
      -o-transition: right 1s ease-out 0.5s;
      transition: right 1s ease-out 0.5s;
    }
    &__text-caption {
      color: #054d50;
      font-size: .75em;
      font-weight: 500;
      margin: 0 0 .175em 0;
    }
    &__btn {
      background-color: transparent;
      border-radius: 4px;
      border: 1px solid transparent;
      color: #054d50;
      display: inline-block;
      font-size: 1em;
      height: 1.563em;
      line-height: 1.563em;
      opacity: .5;
      padding: 0;
      text-align: center;
      width: 2.18em;
      &--facebook:hover {
        color: #3b5998;
      }
      &--vk:hover {
        color: #6383a8;
      }
      &:hover {
        background: #cdf3f3;
        border: 1px solid #054d50;
        cursor: pointer;
        opacity: 1;
      }
      &:active,focus {
        outline: none;
      }
    }
  }
}