/* Colors */
$body-background-color: #f0f0f0;
$light-gray: rgba(0, 0, 0, 0.2);
$bluegreen: #bccecf;
$dark-bluegreen: #054d50;
$teal: #05c3c3;
$gray-green: rgba(5, 77, 80, 0.15);
$main-text-color: #333;
$red: #f00;